footer {
    background: url(/assets/img/bg-footer.jpg) center/cover;
    color: $grey;
    margin-top: 150px;

    .contact {
        margin: 0 auto;
        padding: 20px;
        width: 80%;
        display: grid;
        grid-template-columns: 50% 50%;

        .contact-left {
            margin: 40px 40px 40px 0;

            .allura {
                font-size: 3rem;
            }

            p {
                text-align: left;
                line-height: 30px;
                font-size: 0.9rem;
            }

            @media screen and (max-width:780px) {
                display: none;
            }

        }

        .contact-right {
            margin: 40px;

            h3 {
                text-transform: uppercase;
                color: $white;
                font-family: $font3;
                font-size: 0.8rem;
            }

            input {
                margin: 15px 0;
                padding: 10px;
                background: none;
                border-radius: 5px;
                border: 1px solid $brown;
            }

            .follow {
                margin-top: 40px;
                display: flex;

                ul {
                    display: flex;
                    
                    li {
                        display: flex;
                        margin: 0 20px;
                        justify-content: space-around;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}